* {
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --past: rgba(255, 0, 0, 0.342);
    --present: rgba(88, 88, 255, 0.342);
    --future: rgba(187, 187, 187, 0.397);
    --vscode: #252934;
}

header {
    font-size: 45px;
    text-align: center;
}

#intro {
    display: flex;
    flex-direction: column;
    font-size: 17px;
    text-align: center;
}


#todays-date {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    text-align: center;
}

/* .line-color {
    text-align: center;
    width: 500px;
    height: 5px;
    background-color: var(--vscode);
    display: inline-block;
   
} */

.schedule-content {
    display: flex;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
}

.time-value {
    font-size: 25px;
}

textarea {
    font-size: 16px;
    width: 700px;
    height: 100px;
}

footer {
    display: flex;
    justify-content: center;
    font-size: 25px;
}